<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1">Post a new job</h1>

  <div class="w-12 h-1 bg-gray-800 mb-8"></div>

  <input type="text" class="field mb-4" placeholder="Position">

  <input type="text" class="field mb-4" placeholder="Category">

  <div class="mb-4 flex">
    <input type="text" class="flex-1 field" placeholder="Min salary">
    <div class="w-4"></div>
    <input type="text" class="flex-1 field" placeholder="Max salary">
  </div>

  <input type="text" class="field mb-4" placeholder="Location">

  <div class="flex items-center mb-2">
    <input type="checkbox" name="remote" id="remote" class="w-6 h-6 border-2 mr-2">
    <label for="remote" class="text-gray-700">This is a remote position</label>
  </div>
  <small class="block text-sm text-gray-600 mb-8">You can still specify your main location</small>

  <a href="/job-description" class="button">
    Next &nbsp; →
  </a>
</div>
