<div class="text-center mb-10">
  <%= link_to '#',
              class: 'underlined underlined-black text-lg font-semibold mr-1' do %>
  Sign in
  <% end %>
  <span class="text-gray-600">for existing users</span>
</div>
