<div class="container mx-auto flex flex-col sm:flex-row justify-between sm:items-center py-6 mb-2 md:mb-4 lg:mb-8">
  <a href="/" class="mb-6 sm:mb-0 flex items-center">
    <%= image_tag 'moscow.svg', class: 'injectable inline-block w-10 h-10 mr-3 lg:w-12 lg:h-12' %>
    <span class="text-2xl lg:text-3xl font-semibold">designjobs</span>
    <span class="text-2xl lg:text-3xl mr-1 text-red-700">.moscow</span>
    <% if false %>
      <sup class="text-base font-light">β</sup>
    <% end %>
  </a>

  <a href="/jobs/new" class="button">
    <%= t '.post_button' %>
  </a>
</div>
