<div class="container mx-auto flex flex-col sm:flex-row justify-between sm:items-center py-6 mb-2 sm:mb-4 lg:mb-8">
  <a href="/" class="mb-4 sm:mb-0 flex items-center">
    <%= image_tag 'moscow.svg', class: 'injectable inline-block w-10 h-10 mr-3 lg:w-12 lg:h-12' %>
    <span class="text-2xl lg:text-3xl mr-2">дизайн</span>
    <div class="text-xl lg:text-2xl mr-1 text-white bg-red-700 rounded px-2 font-medium">
      .москва
    </div>
    <% if false %>
      <sup class="text-base font-light">β</sup>
    <% end %>
  </a>

  <div class="flex flex-col sm:flex-row sm:items-center">
    <a href="#" class="flex items-center fill-current text-gray-900 hover:text-gray-700 mb-3 sm:mb-0 sm:mr-5 md:mr-6">
      <%= image_tag 'paper-plane.svg',
        class: 'injectable w-5 h-5 mr-2'
      %>
      Telegram
    </a>

    <% if current_company && current_company.jobs.count.positive? %>
      <%= link_to t('.my_jobs'),
        company_jobs_path,
        class: 'text-gray-900 hover:text-gray-700 mb-3 sm:mb-0 sm:mr-5 md:mr-6' %>
    <% end %>

    <a href="/jobs/new" class="button">
      <%= t '.post_button' %>
    </a>
  </div>
</div>
