<%= render 'shared/header' %>

<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1">Company info</h1>

  <div class="w-12 h-1 bg-gray-800 mb-8"></div>

  <input type="text" class="field mb-4" placeholder="Company name">

  <input type="text" class="field mb-4" placeholder="Website">

  <input type="text" class="field mb-4" placeholder="Logo (optional)">

  <input type="text" class="field mb-2" placeholder="Email">
  <small class="block text-sm text-gray-600 mb-6">Your primary email for logins and notifications, no spam</small>

  <a href="/payment" class="button">
    Next &nbsp; →
  </a>
</div>
