<%= render 'shared/header' %>

<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="text-4xl font-semibold text-gray-900">Job description</h1>

  <div class="w-12 h-1 bg-gray-800 mb-8"></div>

  <textarea name="" id="" cols="4" class="field mb-4" placeholder="Job description"></textarea>

  <textarea name="" id="" cols="4" class="field mb-4" placeholder="How to apply"></textarea>

  <input type="text" class="field mb-4" placeholder="Level (optional)">

  <input type="text" class="field mb-4" placeholder="Tags">

  <div class="flex items-center mb-8">
    <input type="checkbox" name="remote" id="remote" class="w-6 h-6 border-2 mr-2">
    <label for="remote" class="text-gray-700">Offers visa sponsorship</label>
  </div>

  <a href="/company-info" class="button">
    Next &nbsp; →
  </a>
</div>
