<div class="px-4 lg:px-0 max-w-lg mx-auto mb-6">
  <h1 class="heading-1">Sign in</h1>

  <div class="w-12 h-1 bg-gray-800 mb-8"></div>

  <input type="email" class="field mb-1" placeholder="email@example.com">

  <small class="block text-sm text-gray-600 mb-4">We will send an email containing a sign in link</small>

  <a href="/job-description" class="button">
    Send login link
  </a>
</div>
