/* Typography */

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  @apply font-semibold text-gray-800 leading-tight;
}

.heading-1 {
  @apply text-3xl;
}

.heading-2 {
  @apply text-2xl;
}

.heading-3 {
  @apply text-xl;
}

@screen lg {
  .heading-1 {
    @apply text-4xl;
  }

  .heading-2 {
    @apply text-3xl;
  }

  .heading-3 {
    @apply text-2xl;
  }
}

/* Bar */

.bar {
  @apply w-12 h-1 bg-gray-800;
}

/* Container */

.container.container--unpadded {
  @apply .px-0;
}

/* Links */

a.underlined {
  @apply relative border-b-4 border-transparent;

  &::after {
    @apply absolute block h-1 w-0 left-0;
    content: '';
    bottom: -4px;
    transition: width .25s;
  }

  &:hover::after {
    @apply w-full;
  }
}

a.underlined-black {
  @apply text-gray-900 border-gray-300;

  &::after {
    @apply bg-gray-900;
  }
}

/* Buttons */

.button {
  @apply text-sm inline-flex items-center text-white bg-gray-800 py-2 px-5 uppercase tracking-wide font-semibold rounded-lg;

  transition: all .25s;

  &:hover {
    @apply bg-black .shadow-lg;
  }
}

/* Inputs */

.field {
  @apply border-2 px-5 py-3 w-full text-lg border-gray-200 rounded;

  /* Firefox fix */
  @apply min-w-0;

  transition: all .25s;

  &:focus {
    @apply border-gray-400;
  }
}

input[type=checkbox]:checked:after {
  @apply bg-gray-800 block w-full h-full border-4 border-white;
  content: "";
}

select.custom-select {
  @apply inline-block px-5 py-3 w-full border-2 text-lg border-gray-200 bg-white appearance-none rounded-none text-gray-900;

  /* Arrows */
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

/* Dropdowns */

.dropdown {
  @apply relative;
}

.dropdown-link {
  @apply block relative z-10;
}

.dropdown-overlay {
  @apply fixed inset-0 h-full w-full cursor-default;
}

.dropdown-list {
  @apply z-10 absolute left-0 mt-2 w-64 bg-white py-2 shadow-lg border;

  &.dropdown-list-xs {
    @apply w-32;
  }
  &.dropdown-list-sm {
    @apply w-48;
  }

  & .dropdown-list-item {
    @apply block px-4 py-2 text-gray-800;

    &:hover {
      @apply bg-gray-100;
    }
  }
}

/* Tags */

.tag {
  @apply flex items-center border mb-2 px-3 text-xs uppercase border-gray-400 tracking-wide text-gray-600;
}

a.tag:hover {
  @apply border-gray-900 bg-gray-900 text-white;

  transition: all .25s;
}

@screen md {
  .tag {
    @apply mb-0;
  }
}
